
/* @import url("//unpkg.com/element-ui@2.4.0/lib/theme-chalk/index.css"); */

@font-face
{
    font-family: mff;
    src: url('../src/Roboto-Regular.ttf');
}

@font-face
{
    font-family: mffb;
    src: url('../src/Roboto-Bold.ttf');
}

.side {
    height: 100%;
    /* background-color: #545c64; */
}

.top-row {
    width: 100vw;
    height: 10%;
    position: fixed;

    z-index: 10;
}

.top-row .el-col {
    height: 100%;
    background-color: #545c64;
    
}

.top-menu-col {
    display: flex;
    /* justify-content:center; */
    align-items:Center;
}

.top-search-col {
    display: flex;
    justify-content:center;
    align-items:Center;

    padding-left: 20px;
    padding-right: 40px;

    background-color: #545c64;
    
}

.search .el-input__inner, .el-input-group__append button.el-button {
    background-color: #545c64;
    color: #dcdfe6;
}


.top-menu {
    /* border-right: 1px solid #545c64; */
    /* margin-top: 50px; */
    border-bottom: none;
}

body {
    margin: 0;
    padding: 0;
    /* position: absolute; */
}

.main-container {
    position: absolute;
    width: 100%;
    margin-top: 15vh;
}

.top-menu .el-menu-item {
    border-bottom: none;
}
.top-menu .el-menu-item.is-active {
    border-bottom: none;
}

.el-menu-item span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.image {
    height: 100%;
    display: block;
    border-radius: 50%;
    border-color: #545c64;
    margin: 0 auto;
    /* margin-top: 2%; */
}

.c-image {
    width: 100%;
}

.content {
    color: #606266;
    font-family: mff;
    padding-left: 5%;
    padding-right: 5%;
}

.content h4 {
    font-family: mffb;
    font-weight: normal;
}