
/* @import url("//unpkg.com/element-ui@2.4.0/lib/theme-chalk/index.css"); */

@font-face
{
    font-family: mff;
    src: url('../src/Roboto-Regular.ttf');
}

@font-face
{
    font-family: mffb;
    src: url('../src/Roboto-Bold.ttf');
}

.side {
    height: 100%;
    /* background-color: #545c64; */
}

.side-row {
    height: 100vh;
    position: fixed;
    /* z-index: 10; */
}

.main-row {
    margin-left: 25%;
}

.side-row .el-col {
    height: 100%;
    background-color: #545c64; 
}

.side-menu {
    border-right: 1px solid #545c64;
    margin-top: 50px;
}

body {
    margin: 0;
    padding: 0;
}

.el-main {
    padding: 0;
}

.el-menu-item span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.image {
    width: 60%;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.c-image {
    width: 100%;
}

.content {
    color: #606266;
    font-family: mff;
}

.content h4 {
    font-family: mffb;
    font-weight: normal;
}